{{> layout/header}}
<div class="row">
    <div class="col-md-offset-1 col-md-4">
        {{> characters/character-battle-block Player}}
    </div>
    <div class="col-md-offset-2 col-md-4">
        {{> characters/character-battle-block Enemy}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Actions</h3>
        <div class="btn-group" role="group">
            {{#each ActionTypes}}
                <div class="btn-group" role="group">
                    <button id="{{name}}Dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa {{faIcon}}"></i> <span id="{{name}}DropdownText">{{name}}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="{{name}}Dropdown" value="{{name}}">
                        <ul>
                            {{#each ../Actions}}
                                {{#ifvalue actionType equals=../name}}
                                    <li>
                                        <a class="dropdown-item" href="#">{{name}}</a>
                                    </li>
                                {{/ifvalue}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}
            <button class="btn btn-default" type="button" id="startTurn">Start Turn</span>
            </button> 
        </div>
        <div id="comments">
            <p>
                Choose your actions for the round (one of each), and then press 'Start Turn'.
            </p>
        </div>
        <a class="btn btn-default" href="http://miridon.reuniontechnologies.com/page/battlerules-actions" role="button" target="_blank">See All Actions</a>
    </div>
</div>
{{> layout/footer}}