<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-default">
                {{currentCharacter}}
            </button> 
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="characterDropdown">
                <li>
                    <a href="#">Characters</a>
                </li>
            </ul>
                
            <button class="btn btn-default" type="button">
                <em class="glyphicon glyphicon-play"></em> Select & Battle!
            </button> 
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="thumbnail">
                        <dl>
                            <dt>
                                {{characterName}}
                            </dt>
                            <dd>
                                {{characterBio}}
                            </dd>
                            <br>
                            <dd>
                                <strong>Class: </strong>{{characterClass}}
                            </dd>
                            <dd>
                                <strong>Strength: </strong>{{characterStrength}}
                            </dd>
                            <dd>
                                <strong>Speed: </strong>{{characterSpeed}}
                            </dd>
                            <dd>
                                <strong>Author: </strong>{{characterAuthor}}
                            </dd>
                        </dl> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="{{characterImage}}" />
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default">
            Select & Battle!
        </button>
    </div>
</div>