{{> layout/header}}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="thumbnail">
                      <h3>Hello {{username}}! </h3> 
                        <dl>
                            <dt> 
                                <strong>Email:&nbsp;&nbsp;{{email}}</strong>
                            </dt>
                            <br>
                             <dd>
                                <div class="form-group row">
                                    <div class="col-xs-4">
                                        <label for="password">Update your Password:</label>
                                        <input type="password" class="form-control clspasswordInput" placeholder="Password" value="{{password}}">
                                    </div>
                                </div>    
                            </dd>
                            <dd>
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label for="userbio">Update your User Bio:</label>
                                        <textarea class="form-control clsuserbioInput" rows="5" placeholder="User Bio">{{user_bio}}</textarea>
                                    </div>
                                </div>    
                            </dd>
                            
                            <dd>
                                <strong>Wins: </strong>{{wins}} <strong>&nbsp;&nbsp;&nbsp;&nbsp;Losses: </strong>{{losses}}<strong>&nbsp;&nbsp;&nbsp;&nbsp;Last Played Character: </strong>{{last_played}}
                            </dd>
                            
                        </dl> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="{{profile_image}}">
                </div>
                <div>
                    <label for="profileimage">Update your Profile Image Link here:</label>
                    <input class="form-control input-sm clsprofileimageInput" type="text" placeholder="Profile Image Link" value="{{profile_image}}">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12  text-center">
            <button type="button" class="btn btn-default clssaveprofile">
                Save Profile
            </button>
            </div>
        </div>
</div>


{{> layout/footer}}
<br>
<h2 id="chat_title"> Chat Room </h2>
<br>


{{> layout/chat}}

<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript" src="js/profile.js">
</script>