<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="thumbnail">
                        <dl>
                            <dt>
                                {{username}}
                            </dt>
                            <dd>
                                {{user_bio}}
                            </dd>
                            <br>
                            <dd>
                                <strong>Wins: </strong>{{wins}}
                            </dd>
                            <dd>
                                <strong>Losses: </strong>{{losses}}
                            </dd>
                            <dd>
                                <strong>Last Played Character: </strong>{{last_played}}
                            </dd>
                            
                        </dl> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="{{profile_image}}" />
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default">
            Select & Battle!
        </button>
    </div>
</div>
