<div class="thumbnail">
    <img alt="{{character_name}}" src="{{character_image}}" data-toggle="tooltip" data-placement="top" title="{{character_desc}}" id="{{position}}" value="{{character_id}}"/>
    <div class="caption">
        <h3>
            {{character_name}}
        </h3>
        {{#each Stats}}
        {{!-- each stat, send in  --}}
            <div class="progress">
                <div class="progress-bar {{progressClass}}" role="progressbar" aria-valuenow="{{lookup ../this reference}}" aria-valuemin="0" aria-valuemax="{{lookup ../this reference}}" id="{{../character_id}}{{name}}">
                </div>
            </div>
            {{!-- aria-valuenow should change --}}
        {{/each}}
    </div>
</div>