<div class="thumbnail">
    <img alt="{{character_name}}" src="http://lorempixel.com/output/people-q-c-600-600-1.jpg" data-toggle="tooltip" data-placement="top" title="{{character_desc}}" id="#{{this}}" value="{{character_id}}"/>
    <div class="caption">
        <h3>
            {{character_name}}
        </h3>
        {{#each ../stat}}
        {{!-- each stat, send in  --}}
            {{>characters/progress-bar-block}}
        {{/each}}
    </div>
</div>