<div class="progress">
    <div class="progress-bar {{progressClass}}" role="progressbar" aria-valuenow="{{../(character)/(reference)}}" aria-valuemin="0" aria-valuemax="{{../(character)/(reference)}} id="{{../(character)/character_id}}{{name}}"></div>
</div>
{{!-- aria-valuenow should change --}}